
body {
    background-color: rgb(226, 196, 209);
  }
.header {
    padding: 60px;
    text-align: center;
    color:rgb(228, 35, 132) ;
    font-size: 30px;
  }
  img {
    float: right;
  }
  footer{
    clear: both;
    width: 100%;
    text-align: center;
    background-color: #9c3089;
    color: #f5f5f5;
    padding: 20px;
  } 